{
	"domain": "passport.xim.com",
	"listen": ":10001",
	"serv_id": "6",
	"dbs":[{
		"name": "passport",
		"ng_type": "xorm",
		"db_type": "mysql",
		"dsn": "root:root@tcp(127.0.0.1:3306)/passport?charset=utf8"
	}],
	"session":{
		"domain": "xim.com",
		"cookie_name": "ximsession",	
		"store_type": "mem",
		"idle_time": 86400,
		"cookie_expire": 86400
	}
}
